.jumbotron{
    
    background: #37A4F4;
    margin-top: 50px;
}

footer{
    margin-bottom: 0;
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    background-color: #0F3049;
}

.card-hotel{
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
    margin: 1rem;
}
.card-subtitle{
    margin: 5px 0px 5px 0px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
address{
    color: white;
}

.footer-address-icon{
    padding-right: 10px;
}

.tab-content{
    padding-top: 10px ;
}