$yellow:#e3cd42;
$red :#b30909 ;
$green: #0dd42b;
$blue1: #37A4F4;
$blue2: #0F3049;
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top,$right,$bottom,$left){
    padding: $top $right $bottom $left;
}

.jumbotron{
    background:  $blue1;
    @include margenes(50px,0px)
}
footer{
    @include margenes(10px, 0px);
    @include paddings(10px, 10px, 0, 10px);
    background-color:  $blue2;
}

.card-hotel{
    flex: 1 250px;
    @include paddings(2px, 5px, 2px, 5px);
    margin: 1rem;
}
.card-subtitle{
    @include margenes(5px, 5px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    color: white;
    border: none;
}

address{
    color: white;
}

.footer-address-icon{
    @include paddings(0px, 10px, 0px ,0px );
}

.tab-content{
   @include paddings(10px, 0px, 0px, 0px )
}