.jumbotron {
  background: #37A4F4;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 10px 0 10px;
  background-color: #0F3049; }

.card-hotel {
  flex: 1 250px;
  padding: 2px 5px 2px 5px;
  margin: 1rem; }

.card-subtitle {
  margin-top: 5px;
  margin-bottom: 5px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  color: white;
  border: none; }

address {
  color: white; }

.footer-address-icon {
  padding: 0px 10px 0px 0px; }

.tab-content {
  padding: 10px 0px 0px 0px; }
