.jumbotron {
  background: #0dd42b;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 10px 0 10px;
  background-color: #b30909;
}
.card-hotel {
  flex: 1 250px;
  padding: 2px 5px 2px 5px;
  margin: 1rem;
}
.card-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background: yellow;
  color: white;
  border: none;
}
address {
  color: white;
}
.footer-address-icon {
  padding: 0px 10px 0px 0px;
}
.tab-content {
  padding: 10px 0px 0px 0px;
}
