@yellow:#e3cd42;
@red :#b30909 ;
@green: #0dd42b;
@blue1: #37A4F4;
@blue2: #0F3049;
.margenes(@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top,@right,@bottom,@left){
    padding: @top @right @bottom @left;
}

.jumbotron{
    background:  @green;
    .margenes(50px,0px)
}
footer{
    .margenes(10px, 0px);
    .paddings(10px, 10px, 0, 10px);
    background-color:  @red;
}

.card-hotel{
    flex: 1 250px;
    .paddings(2px, 5px, 2px, 5px);
    margin: 1rem;
}
.card-subtitle{
    .margenes(5px, 5px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    background: yellow;
    color: white;
    border: none;
}

address{
    color: white;
}

.footer-address-icon{
    .paddings(0px, 10px, 0px ,0px );
}

.tab-content{
   .paddings(10px, 0px, 0px, 0px )
}